body {
  padding-top: 56px;
  background-color: #ea906c;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header {
  color: black;
}
.login-container {
    margin-top: 8%;
  background-color: aliceblue;
  max-width: 600px;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

#navbar {
  background-color: #eee2de;
  color: black;
  text-align: right;
  padding: 10px;
}

#navbar a {
  color: black;
}
#logout {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
  cursor: pointer;
}

#logout:hover {
  text-decoration: underline;
}
#content h2 {
  text-align: center;
  font-family: "Bebas Neue";
  font-size: 65px;
}
#content {
  padding: 20px;
  font-size: 15px;
  font-family: "Karla";
}
